/* Define o tamanho da caixa de forma mais previsível e intuitiva */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: #00000080;
  letter-spacing: 0.1em;
}
*::selection {
  background-color: #48ebcf;
  color: #00000090;
}
body {
  background-color: #c2c1c1;
  background: url("../../public/background-base.svg") no-repeat center center /
    cover fixed;
}

/* Reset básico de CSS */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Elementos de bloco padrão não devem ter margem inferior */
h1,
h2,
h3,
p {
  margin-bottom: 0.5em;
}

/* Estilos básicos para a tag de lista não ordenada */
ul {
  list-style: none;
}

/* Estilos básicos para links */
a {
  text-decoration: none;
  color: inherit;
}

/* Estilos básicos para imagens */
img {
  max-width: 100%;
  height: auto;
}
